/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-grey: #4d4d4d;
  --color-light-grey: #616161;
  --color-blue: #a8cbec;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 8px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-blue);
  padding: 12px;
}

.navbar__menu {
  display: flex;
  margin: 5px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin-left: 10px;
}

.navbar__logo img {
  width: 30px;
  color: var(--color-white);
}

.navbar__menu__item {
  padding: 6px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  height: 36px;
  border: 1px solid transparent;
}

.navbar__menu__item:hover {
  background-color: #4498cf;
  transition: 0.3s ease-in-out;
  border: 1px solid var(--color-white);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__toggle-btn {
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  top: 18px;
  display: none;
}

/* Home */
#home {
  background: url(images/home-background.png) center/cover no-repeat;
  padding: 40px;
  padding-top: 90px;
  text-align: center;
  opacity: 1;
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__avatar {
  width: 350px;
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  margin: 24px;
  font-size: var(--weight-regular);
  font-size: var(--font-regular);
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  padding: 8px 12px;
}

.home__contact:hover {
  background-color: #2789ca;
  transition: 0.3s ease-in-out;
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1000px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0 40px 0;
}

.major__icon {
  width: 160px;
  height: 160px;
  font-size: 70px;
  line-height: 160px;
  margin: auto;
  border: 3px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 20px;
  color: var(--color-blue);
}

.major__icon i,
#html__icon,
#css__icon,
#java__icon {
  transition: all 0.2s ease-in-out;
}

.major__icon i:hover {
  transform: scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-light-grey);
}

#html__icon:hover {
  color: tomato;
  transform: rotate(10deg);
}

#css__icon:hover {
  color: rgb(62, 104, 243);
  transform: rotate(10deg);
}

#java__icon:hover {
  color: goldenrod;
  transform: rotate(10deg);
}

.school {
  display: flex;
  align-items: center;
}
.school__description {
  margin: 0 16px;
  text-align: left;
}

.school__name,
.school__period {
  color: var(--color-light-grey);
}

.school__name {
  font-size: var(--font-small);
}

.school__period {
  font-size: var(--font-micro);
}

.school__logo {
  width: 90px;
  height: 20px;
}

/* Skills */
#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: rgb(116, 116, 121);
  color: rgb(233, 232, 232);
  margin: 25px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skill__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.skill {
  margin-bottom: 35px;
}
.skill__bar {
  width: 100%;
  height: 6px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 6px;
  background-color: var(--color-orange);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-light-grey);
  padding: 15px 40px;
}

.skillset__right {
  flex-basis: 40%;
}

.etc {
  background-color: rgb(151, 150, 150);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */
.category__btn {
  border: 1px solid rgb(173, 173, 173);
  border-radius: 12px;
  font-size: var(--font-regular);
  padding: 8px 32px;
  position: relative;
}

.work__categories {
  margin: 40px;
}

.category__count {
  background-color: rgb(213, 157, 245);
  border-radius: 50%;
  color: var(--color-white);
  width: 18px;
  height: 18px;
  display: inline-block;
  font-size: var(--font-micro);
  line-height: 18px;
  opacity: 0;
  position: absolute;
  top: -17px;
  right: 7px;
  transition: all 0.2s ease-in-out;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 9px;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all 0.3s ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.97) translateY(30px);
}

.project {
  width: 280px;
  height: 250px;
  margin: 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 224, 224);
  border-radius: 15px;
  padding: 15px 0;
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  border-radius: 15px;
  transform: translateY(15px);
}

.project__description h3 {
  color: rgb(111, 204, 241);
}

.project:hover .project__description {
  opacity: 0.6;
  transform: translateY(0px);
  padding: 0px 10px;
}

.project__description h3:after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  background-color: white;
  position: relative;
  left: 50%;
  margin-left: -12px;
  margin-top: 8px;
  transform: translateX(-13px);
}

/* Testimonial */
#testimonials {
  background-color: rgb(240, 240, 240);
  margin-top: 0px;
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin-bottom: 40px;
  margin-top: 20px;
}

.testimonial__avatar {
  width: 250px;
  height: 120px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: 12px;
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-blue);
}

/* Contact */
#contact {
  background-color: var(--color-blue);
}

.home__avatar {
  text-align: center;
  align-items: center;
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__email {
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: rgb(108, 161, 240);
  transition: all 0.2s ease-in-out;
}

/* Arrow up */
.arrow-up {
  font-size: 38px;
  color: var(--color-white);
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: rgb(108, 161, 240);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in-out;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .home__avatar {
    width: 250px;
  }

  .navbar__toggle-btn {
    display: block;
    top: 10px;
    right: 19px;
    font-size: 22px;
  }

  #navbar {
    align-items: flex-start;
    background-color: var(--color-blue);
  }

  #navbar.navbar--dark {
    padding: 16px;
  }

  .navbar__toggle-btn.navbar--dark {
    padding: 16px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
    padding: 10px 80px;
  }

  .navbar__menu__item:hover {
    border: 1px solid var(--color-white);
  }

  .navbar__menu.open {
    display: block;
    position: absolute;
    background-color: var(--color-blue);
    top: 46px;
    left: 0;
    right: 0;
    margin: 0;
  }

  .navbar__menu__item {
    padding: 6px 0;
    margin: 0;
    border: 1px solid transparent;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .major {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }

  .category__btn {
    margin: 5px 0px;
    width: 100%;
  }

  .work__categories {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
  }

  .project {
    flex-grow: 1;
    width: 150px;
    height: 150px;
    margin: 10px;
  }

  #testimonials {
    margin-top: 50px;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__avatar {
    width: 110px;
    height: 110px;
  }

  .testimonial__avatar:nth-child(odd),
  .testimonial__avatar:nth-child(even) {
    margin: 0;
    margin-bottom: 10px;
  }

  .testimonial__speech-bubble {
    order: 1;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
    text-align: center;
  }

  .arrow-up {
    bottom: 16px;
    right: 16px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
  }
}


/* For below 768px screen width */
@media screen and (max-width: 300px) {
  :root {
    /* Font size */
    --font-large: 28px;
    --font-medium: 16px;
    --font-regular: 14px;
    --font-small: 12px;
    --font-micro: 10px;
  }

  .testimonials {
    margin: 10px;
  }