/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-grey: #4d4d4d;
  --color-light-grey: #616161;
  --color-blue: #a8cbec;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 8px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-blue);
  align-items: center;
  color: var(--color-white);
  padding: 12px;
  position: sticky;
  top: 0;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__logo img {
  width: 30px;

  color: var(--color-white);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  background-color: #2789ca;
  transition: 0.3s ease-in-out;
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

/* Home */
#home {
  background: url(images/home-background.png) center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 350px;
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  margin: 24px;
  font-size: var(--weight-regular);
  font-size: var(--font-regular);
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  padding: 8px 12px;
}

.home__contact:hover {
  background-color: #2789ca;
  transition: 0.3s ease-in-out;
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 160px;
  height: 160px;
  font-size: 70px;
  line-height: 160px;
  margin: auto;
  border: 3px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 20px;
  color: var(--color-blue);
}

.major__icon i,
#html__icon,
#css__icon,
#java__icon {
  transition: all 0.2s ease-in-out;
}

.major__icon i:hover {
  transform: scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-light-grey);
}

#html__icon:hover {
  color: tomato;
  transform: rotate(10deg);
}

#css__icon:hover {
  color: rgb(62, 104, 243);
  transform: rotate(10deg);
}

#java__icon:hover {
  color: goldenrod;
  transform: rotate(10deg);
}

.school {
  display: flex;
  align-items: center;
}
.school__description {
  margin: 0 16px;
  text-align: left;
}

.school__name,
.school__period {
  color: var(--color-light-grey);
}

.school__name {
  font-size: var(--font-small);
}

.school__period {
  font-size: var(--font-micro);
}

.school__logo {
  width: 60px;
  height: 10px;
}
